#!/usr/bin/make -f
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CPPFLAGS_MAINT_APPEND  = -DDEFAULT_FONT_PATH=/usr/share/fonts/truetype/ttf-dejavu/DejaVuSansMono.ttf
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
#export DH_VERBOSE = 1

# Use this variable to pass configure options for projectM to automake
PROJECTM_AUTOMAKE_FLAGS = \
                --enable-sdl=no \
                --enable-emscripten=no \
                --enable-qt=yes \
                --enable-pulseaudio=yes \

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- $(PROJECTM_AUTOMAKE_FLAGS)

HTML_DOCS := README.html BUILDING.html LLVM_README.html

%.html: %.md
	pandoc --from=markdown+smart --to=html --standalone --metadata=pagetitle="ProjectM $(basename $<)" --extract-media=docs_media --output=$@ $<
## multimarkdown would be nice & more modern, but it's not in Debian yet!
#	multimarkdown --to=html --full --smart $< > $@

execute_before_dh_install: $(HTML_DOCS)
	:

execute_after_dh_install:
	@# Delete libtool archive files as per Debian Policy Manual
	find  $(CURDIR)/debian/projectm/usr/lib/ -type f \( -iname '*.la' -o -iname '*.a' \) -delete
	find  $(CURDIR)/debian/projectm/usr/share/projectM/presets/ -type f \( -iname '*.la' -o -iname '*.a' \) -delete
	mkdir -p $(CURDIR)/debian/projectm/usr/lib/projectM
	find  $(CURDIR)/debian/projectm/usr/share/projectM/presets/ -type f -iname '*.so'  -print0 | \
        xargs -0 -n1 -I{} mv '{}' $(CURDIR)/debian/projectm/usr/lib/projectM/
	find  $(CURDIR)/debian/projectm/usr/share/projectM/fonts/ -type f -iname '*.ttf' -delete


execute_before_dh_clean:
	rm $(HTML_DOCS) || true
	rm -rf docs_media/ || true
